In [1]:
import pandas as pd
import joblib
from pathlib import Path
import os
import sys
notebook_dir = os.path.dirname(os.path.abspath(''))
src_path = os.path.join(notebook_dir, '..\..\..\src')
sys.path.append(src_path)
print(src_path)

d:\ANNACONDA\projects\interest_rate_prediction\notebooks\data_cleaning\ecnomic_indicators\..\..\..\src

In [2]:
os.getcwd()

'd:\\ANNACONDA\\projects\\interest_rate_prediction\\notebooks\\data_cleaning\\ecnomic_indicators\\unemployment_rate'

In [3]:
from config import UNEMPLOYMENT_PATH

In [4]:
unemployment_excel = pd.ExcelFile(f"../../../{UNEMPLOYMENT_PATH}unemployment_rate.xlsx")
unemployment_excel.sheet_names

['BLS Data Series']

In [5]:
unemployment_rate = pd.read_excel(f"../../../{UNEMPLOYMENT_PATH}unemployment_rate.xlsx")
unemployment_rate.head()

   Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  2014  6.6  6.7  6.7  6.2  6.3  6.1  6.2  6.1  5.9  5.7  5.8  5.6
1  2015  5.7  5.5  5.4  5.4  5.6  5.3  5.2  5.1  5.0  5.0  5.1  5.0
2  2016  4.8  4.9  5.0  5.1  4.8  4.9  4.8  4.9  5.0  4.9  4.7  4.7
3  2017  4.7  4.6  4.4  4.4  4.4  4.3  4.3  4.4  4.3  4.2  4.2  4.1
4  2018  4.0  4.1  4.0  4.0  3.8  4.0  3.8  3.8  3.7  3.8  3.8  3.9

In [6]:
unemployment_rate_melted = unemployment_rate.melt(id_vars=["Year"], var_name="Month", value_name="Unemployment_Rate").sort_values(by="Year")
unemployment_rate_melted

     Year Month  Unemployment_Rate
0    2014   Jan                6.6
55   2014   Jun                6.1
33   2014   Apr                6.2
22   2014   Mar                6.7
99   2014   Oct                5.7
..    ...   ...                ...
32   2024   Mar                3.8
21   2024   Feb                3.9
10   2024   Jan                3.7
120  2024   Nov                NaN
131  2024   Dec                NaN

[132 rows x 3 columns]

In [7]:
unemployment_rate_melted["Year"] = pd.to_datetime(unemployment_rate_melted["Year"], format="%Y").dt.year
unemployment_rate_melted["Month"] = pd.to_datetime(unemployment_rate_melted["Month"], format="%b").dt.month
unemployment_rate_melted = unemployment_rate_melted.sort_values(["Year", "Month"])
unemployment_rate_melted

     Year  Month  Unemployment_Rate
0    2014      1                6.6
11   2014      2                6.7
22   2014      3                6.7
33   2014      4                6.2
44   2014      5                6.3
..    ...    ...                ...
87   2024      8                NaN
98   2024      9                NaN
109  2024     10                NaN
120  2024     11                NaN
131  2024     12                NaN

[132 rows x 3 columns]

In [8]:
bins   = [0, 3, 6, 8, 12]
labels = ["Q1", "Q2", "Q3", "Q4"]
unemployment_rate_melted["Quarter"] = pd.cut(unemployment_rate_melted["Month"], bins=bins, labels=labels, right=True)
unemployment_rate_melted

     Year  Month  Unemployment_Rate Quarter
0    2014      1                6.6      Q1
11   2014      2                6.7      Q1
22   2014      3                6.7      Q1
33   2014      4                6.2      Q2
44   2014      5                6.3      Q2
..    ...    ...                ...     ...
87   2024      8                NaN      Q3
98   2024      9                NaN      Q4
109  2024     10                NaN      Q4
120  2024     11                NaN      Q4
131  2024     12                NaN      Q4

[132 rows x 4 columns]

In [9]:
unemployment_rate_melted = unemployment_rate_melted.dropna()
unemployment_rate_melted

    Year  Month  Unemployment_Rate Quarter
0   2014      1                6.6      Q1
11  2014      2                6.7      Q1
22  2014      3                6.7      Q1
33  2014      4                6.2      Q2
44  2014      5                6.3      Q2
..   ...    ...                ...     ...
10  2024      1                3.7      Q1
21  2024      2                3.9      Q1
32  2024      3                3.8      Q1
43  2024      4                3.9      Q2
54  2024      5                4.0      Q2

[125 rows x 4 columns]

In [10]:
path = Path(Path.cwd()/"../../../../data")
path

WindowsPath('d:/ANNACONDA/projects/interest_rate_prediction/notebooks/data_cleaning/ecnomic_indicators/unemployment_rate/../../../../data')

In [11]:
data_folder = path/'parquet/unemployment_rate'
data_folder.mkdir(parents=True, exist_ok=True)

In [12]:
unemployment_rate_melted.to_parquet(data_folder/"unemployment_rate.parquet")