In [1]:
import pandas as pd
import joblib
from pathlib import Path
import os
import sys
import time
notebook_dir = os.path.dirname(os.path.abspath(''))
src_path = os.path.join(notebook_dir, '..\..\..\src')
sys.path.append(src_path)
print(src_path)

d:\ANNACONDA\projects\interest_rate_prediction\notebooks\data_cleaning\housing_market\..\..\..\src

In [2]:
os.getcwd()

'd:\\ANNACONDA\\projects\\interest_rate_prediction\\notebooks\\data_cleaning\\housing_market\\home_sales'

In [3]:
from config import CSV_DATA_PATH

In [4]:
homes_sold = pd.read_csv(f"../../../{CSV_DATA_PATH}homes_sold.csv")
homes_sold

    Year  Home Sales
0   1963         560
1   1964         565
2   1965         575
3   1966         461
4   1967         487
..   ...         ...
56  2019         683
57  2020         822
58  2021         771
59  2022         641
60  2023         668

[61 rows x 2 columns]

In [13]:
# homes_sold["Date"]  = pd.to_datetime(homes_sold["Date"], format="%b %Y")
# homes_sold["Year"]  = homes_sold["Date"].dt.year
# homes_sold["Month"] = homes_sold["Date"].dt.month
# # starts["Day"]   = starts["Date"].dt.day
# homes_sold = homes_sold.drop("Date", axis=1)

In [5]:
path = Path(Path.cwd()/"../../../../data")
path

WindowsPath('d:/ANNACONDA/projects/interest_rate_prediction/notebooks/data_cleaning/housing_market/home_sales/../../../../data')

In [6]:
data_folder = path/'parquet/housing_market/homes_sold'
data_folder.mkdir(parents=True, exist_ok=True)

In [7]:
homes_sold.to_parquet(data_folder/"homes_sold.parquet")