In [1]:
import pandas as pd
import joblib
from pathlib import Path
import os
import sys
import time
notebook_dir = os.path.dirname(os.path.abspath(''))
src_path = os.path.join(notebook_dir, '..\..\..\src')
sys.path.append(src_path)
print(src_path)

d:\ANNACONDA\projects\interest_rate_prediction\notebooks\data_cleaning\housing_market\..\..\..\src

In [2]:
os.getcwd()

'd:\\ANNACONDA\\projects\\interest_rate_prediction\\notebooks\\data_cleaning\\housing_market\\home_sales'

In [3]:
from config import CSV_DATA_PATH

In [4]:
houses_for_sale = pd.read_csv(f"../../../{CSV_DATA_PATH}home_sales.csv")
houses_for_sale

      Year  Home_Sales
0   1963.0       265.0
1   1964.0       250.0
2   1965.0       228.0
3   1966.0       196.0
4   1967.0       190.0
..     ...         ...
60  2023.0       453.0
61     NaN         NaN
62     NaN         NaN
63     NaN         NaN
64     NaN         NaN

[65 rows x 2 columns]

In [13]:
# homes_sold["Date"]  = pd.to_datetime(homes_sold["Date"], format="%b %Y")
# homes_sold["Year"]  = homes_sold["Date"].dt.year
# homes_sold["Month"] = homes_sold["Date"].dt.month
# # starts["Day"]   = starts["Date"].dt.day
# homes_sold = homes_sold.drop("Date", axis=1)

In [5]:
path = Path(Path.cwd()/"../../../../data")
path

WindowsPath('d:/ANNACONDA/projects/interest_rate_prediction/notebooks/data_cleaning/housing_market/home_sales/../../../../data')

In [6]:
data_folder = path/'parquet/housing_market/houses_for_sale'
data_folder.mkdir(parents=True, exist_ok=True)

In [7]:
houses_for_sale.to_parquet(data_folder/"houses_for_sale.parquet")