In [12]:
import pandas as pd
import joblib
from pathlib import Path
import os
import sys
import time
notebook_dir = os.path.dirname(os.path.abspath(''))
src_path = os.path.join(notebook_dir, '..\..\..\src')
sys.path.append(src_path)
print(src_path)

d:\ANNACONDA\projects\interest_rate_prediction\notebooks\data_cleaning\market_indicators\..\..\..\src

In [13]:
os.getcwd()

'd:\\ANNACONDA\\projects\\interest_rate_prediction\\notebooks\\data_cleaning\\market_indicators\\commodity_prices'

In [14]:
from config import CSV_DATA_PATH

In [15]:
oil = pd.read_csv(f"../../../{CSV_DATA_PATH}crude_oil.csv", on_bad_lines='skip')
oil

            Day  Crude_Oil_Price
0     5/30/2024            78.96
1     5/29/2024            80.24
2     5/28/2024            80.90
3     5/24/2024            78.48
4     5/23/2024            77.47
...         ...              ...
9670   1/8/1986            25.87
9671   1/7/1986            25.85
9672   1/6/1986            26.53
9673   1/3/1986            26.00
9674   1/2/1986            25.56

[9675 rows x 2 columns]

In [16]:
oil = oil.rename(columns={"Day":"Date"})

In [17]:
oil["Date"]  = pd.to_datetime(oil["Date"], format="%m/%d/%Y")
oil["Year"]  = oil["Date"].dt.year
oil["Month"] = oil["Date"].dt.month
oil["Day"]   = oil["Date"].dt.day
oil = oil.drop("Date", axis=1)

In [18]:
oil

      Crude_Oil_Price  Year  Month  Day
0               78.96  2024      5   30
1               80.24  2024      5   29
2               80.90  2024      5   28
3               78.48  2024      5   24
4               77.47  2024      5   23
...               ...   ...    ...  ...
9670            25.87  1986      1    8
9671            25.85  1986      1    7
9672            26.53  1986      1    6
9673            26.00  1986      1    3
9674            25.56  1986      1    2

[9675 rows x 4 columns]

In [19]:
bins   = [0, 3, 6, 8, 12]
labels = ["Q1", "Q2", "Q3", "Q4"]
oil["Quarter"] = pd.cut(oil["Month"], bins=bins, labels=labels, right=True)
oil

      Crude_Oil_Price  Year  Month  Day Quarter
0               78.96  2024      5   30      Q2
1               80.24  2024      5   29      Q2
2               80.90  2024      5   28      Q2
3               78.48  2024      5   24      Q2
4               77.47  2024      5   23      Q2
...               ...   ...    ...  ...     ...
9670            25.87  1986      1    8      Q1
9671            25.85  1986      1    7      Q1
9672            26.53  1986      1    6      Q1
9673            26.00  1986      1    3      Q1
9674            25.56  1986      1    2      Q1

[9675 rows x 5 columns]

In [20]:
path = Path(Path.cwd()/"../../../../data")
path

WindowsPath('d:/ANNACONDA/projects/interest_rate_prediction/notebooks/data_cleaning/market_indicators/commodity_prices/../../../../data')

In [21]:
data_folder = path/'parquet/commodity/oil'
data_folder.mkdir(parents=True, exist_ok=True)

In [22]:
oil.to_parquet(data_folder/"oil_commodity.parquet")